{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1>La plateforme de don de graines</h1>
                    <p>Donnez ou reçevez des graines et participez à la diversité biologique</p>
                    <p>Notre plateforme de don de graine, joue le jeu de l’écologie solidaire. Pas de conditions d’échanges, aucune forme de rétribution : donnez , recevez et surtout, semez!</p>
                    <button type="button" class="btn btn-dark btn-lg">En savoir plus</button>
                </div>
                <div class="col">
                    <!--image-->>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
