{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block bodyclass %}"home"{% endblock %}

{% block body %}
        <img src="{{ asset('build/images/pictures/home-mobile.jpg') }}" class="home-mobile" alt="photo échange graines">
        <div class="container-fluid d-flex flex-column gap-5 ps-md-9">
            <div class="container-fluid d-flex flex-column gap-5 ">
                <h1 class="text-white fs-5 p-0">La plateforme Lyonnaise de don de graines</h1>
                <p class="text-center text-md-start fs-1 fw-bold">Donnez ou reçevez des graines pour participer à la <span class="text-success">diversité biologique</span></p>
                <p class="d-none d-lg-block fs-5 lh-lg w-50 pe-5">Notre plateforme de don de graine joue le jeu de l’écologie solidaire. Pas de conditions d’échanges, aucune forme de rétribution : donnez , recevez et surtout, semez!</p>
                <div class="d-flex justify-content-center justify-content-md-start">
                    <a href="{{ path('understand') }}" class="btn btn-dark mt-3 btn-lg">En savoir plus</a>
                </div>
            </div>
        </div>
{% endblock %}
