{% extends 'base.html.twig' %}

{% block title %}Comprendre{% endblock %}

{% block bodyclass %}"understand"{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Comment ça <span class="text-primary">marche?</span></h1>
    <section class="container d-flex justify-content-evenly gap-2 flex-column flex-xl-row">
        <div class="card bg-white shadow p-5">
            <h2 class="mb-4">Donner ses <span class="text-info">graines</span></h2>
            <p>Enregistrez vos lots de 10 ou 15  graines reproductibles sur notre plateforme.</p>
            <p>Les lots sont immédiatement disponibles dans notre grainothèque.</p>
            <a href="{{ path('seed_batch_add') }}" class="align-self-center mt-9"><button class="btn btn-dark btn-lg">Donner</button></a>
        </div>
        <div class="card bg-white shadow p-5">
            <h2 class="mb-4">Demander des <span class="text-primary">graines</span></h2>
            <p>Chaque Lyonnais.e peut réserver ses graines sur notre grainothèque, pour son usage personnel et non commercial.</p>
            <p>Nous informerons les donateur.ices par email qu’un de leurs lots a été réservé.</p>
            <a href="{{ path('seed_batch_show') }}" class="align-self-center mt-6"><button class="btn btn-dark btn-lg">Demander</button></a>
        </div>
        <div class="card bg-white shadow p-5">
            <h2 class="mb-4">Recevoir des <span class="text-success">graines</span></h2>
            <p>Une fois le lot réservé, les deux personnes pourront se contacter par email afin de convenir d'un rendez-vous pour le retrait des graines </p>
            <p>L’un.e ou l’autre indiquent ensuite sur la plateforme que l’échange est fini.</p>
            <a href="{{ path('user_account') }}" class="align-self-center mt-4"><button class="btn btn-dark btn-lg">Demander</button></a>
        </div>
    </section>
{% endblock %}