{% extends 'base.form.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block bodyclass %}'reset-password'{% endblock %}

{% block pictosource %}{{ asset('build/images/pictos/picto-register.png') }}{% endblock %}
{% block h1 %}Changer mon mot de passe{% endblock %}
{% block form %}
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <div class="container d-flex gap-4 flex-column justify-content-center align-items-center">
            <button type="submit" class="btn btn-dark btn-lg">Enregistrer</button>
        </div>
    {{ form_end(resetForm) }}
{% endblock %}
