@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'IMB Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf');
}

$primary:#F0A772;
$secondary:#5A5858;
$success:#969665;
$info: #82AFB9;
$danger: #D3270F;
$light: #FFEAD5;
$dark: #282828;

$head-font: 'Bebas Neue';
$body-font: 'IMB Plex Sans';
$button-font: 'Oswald';