/*Home background for mobile*/
.home-mobile {
    width: 100%;
    height: 30vh;
    max-width: 100%;
    height: auto;
}

/*Home background for desktop*/
@media screen and (min-width: 992px) {
    .home-mobile {
        display: none;
    }

    .home {
        background-image: url('../images/pictures/home.jpg');
        background-size: cover;
        height: 100%;
        background-position: center; 
    }
}

/*Background for connexion relatives templates*/
.register, .login, .reset-password, .reset-password-confirmation, .understand {
        background-image: url('../images/pictures/account-background.jpg');
        background-size: cover;
        height: 100vh;
        background-position: center;
}

/*Background for user account relatives templates*/
.dashboard {
    background-image: url('../images/pictures/dashboard-background.jpg');
    background-size: cover;
    height: 100%;
    background-position: center;
}

.seed-batch {
    background-image: url('../images/pictures/batch-background.jpg');
    background-size: cover;
    height: 100%;
    background-position: center;
}

.seedbank {
    background-image: url('../images/pictures/seedbank-background.jpg');
    width: 100%;
    
    background-position: top;
}

/*Seedbank background for desktop*/
@media screen and (min-width: 992px) {

    .seedbank {
        background-image: url('../images/pictures/seedbank-background.jpg');
        width: 100%;
        background-position: top;
    }
}

.admin {
    background-image: url('../images/pictures/admin-background.jpg');
    background-size: cover;
    width: 100%;
    background-position: top;
}