.nav-link {
    font-family: $head-font;
    font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
    .nav-link {
        font-size: 1.3rem;
    }
    .navbar-nav {
        gap:2em;
    }
}

footer {
    a {
        color: $dark;
        font-family: $head-font;
    }
}