.seedbank {
    .card {
       width: 100%;
    }
}

@media screen and (min-width: 992px) {

    .seedbank {
        .card {
            width: 30%;
            min-width: 30%;
        }
    }
}

.dashboard {
    .custom-card {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {

    .dashboard {
        .custom-card {
            width: 30%;
            min-width: 30%;
        }  
    }
}

.clickable-card {

    &:hover,
    &:focus {
            color: $dark!important;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
        
}
