{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block bodyclass %}'dashboard'{% endblock %}

{% block body %}

    <div class="container-fluid d-grid p-5">
        <h1 class="pb-3 pt-3">Mon <span class="text-primary">Compte</span></h1>
        <div class="row gap-4">
          <div class="col d-grid gap-4">
                <div class="row bg-white p-2">
                    <h2 class="ps-2">Mon <span class ="text-info">profil</span></h2>
                    <div class="d-flex flex-column align-items-center">
                        <div>
                            <p><span class="h3">Pseudo : </span>{{ user.username }}</p>
                            <p><span class="h3">Email : </span> {{ user.email }}</p>
                        </div>
                    </div>
                    <div class="d-inline-flex gap-3 justify-content-center">
                        <div>
                            <a href="{{ path('user_account_edit') }}"><button class="btn btn-dark">modifier</button></a>
                        </div>
                        <div>
                            <button class="btn btn-outline-dark">supprimer</button>
                        </div>
                    </div>
                </div>
                <div class="row bg-white p-2">
                    <h2 class="ps-2">Mes <span class ="text-danger">favoris</span></h2>
                </div>
          </div>
          <div class="col bg-white p-3 pt-2">
            <h2 class="pb-4">Mes <span class ="text-success">demandes</span></h2>
            <div class="d-grid gap-4">
              {% for requested_donation in requested_donations|slice(0, 4) %}
                    {% include "components/_user_request_card.html.twig" %}
              {% endfor %}
            </div>
          </div>
          <div class="col bg-white p-3 pt-2">
            <h2 class="pb-4">Mes <span class ="text-primary">dons</span></h2>
            <div class="d-grid gap-4">
              {#include component user_donation#}
            </div>
          </div>
          <div class="col bg-white p-3 pt-2">
            <h2 class="pb-4">Mes graines <span class ="text-info">à donner</span></h2>
            <div class="d-grid gap-4">
              {% for user_batch in user_batches|slice(0, 5) %}
                {% if user_batch.isAvailable %}
                  {% include "components/_user_batch_card.html.twig" %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}
