{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block bodyclass %}'dashboard'{% endblock %}

{% block body %}

    <div class="container-fluid d-grid ps-5 pe-5 pb-8">
        <h1 class="pb-3 pt-3">Mon <span class="text-primary">Compte</span></h1>
        <div class="row gap-4 vh-100">
          <div class="col d-grid gap-4">
                <div class="row bg-white p-2">
                    <h2 class="ps-2">Mon <span class ="text-info">profil</span></h2>
                </div>
                <div class="row bg-white p-2">
                    <h2 class="ps-2">Mes <span class ="text-danger">favoris</span></h2>
                </div>
          </div>
          <div class="col bg-white p-2 ps-3">
            <h2>Mes <span class ="text-success">demandes</span></h2>
          </div>
          <div class="col bg-white p-2 ps-3">
            <h2>Mes <span class ="text-primary">dons</span></h2>
          </div>
          <div class="col bg-white p-2 ps-3">
            <h2>Mes graines <span class ="text-info">à donner</span></h2>
          </div>
        </div>
        </div>
      </div>

{% endblock %}
