{% extends 'base.html.twig' %}

{% block title %}Mes demandes{% endblock %}

{% block bodyclass %}'dashboard'{% endblock %}

{% block body %}

    <h1 class="pb-3 pt-3 ps-5">Mes <span class="text-primary">demandes</span></h1>
    {# Status "en cours" #}
    <section class="container-fluid d-flex flex-column ps-5 pe-5 gap-6">
        <div class="container bg-white shadow p-4 ps-6">
            <h2 class="mb-4">Demandes <span class="text-danger">en cours</span></h2>
            <div class="container d-flex flex-column flex-xl-row flex-xl-wrap gap-3">
                {# use of display_message variable avoid to display messages x time in loop#}
                {% set display_message = true %}
                {% for requested_donation in requested_donations %}
                    {% if requested_donation.status == "En cours" %}
                        <div class="custom-card">
                            {% include "/components/_user_request_card.html.twig" %}
                        </div>
                        {% set display_message = false %}
                    {% endif %}
                {% endfor %}
                {% if display_message == true %}
                    <div class="container d-flex flex-column gap-4">
                        <p>Vous n'avez pas de demandes en cours</p>
                        <div class="text-center">
                            <a href="{{ path('seed_batch_show') }}"><button class="btn btn-dark">Demander un lot</button></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {# Status finalisé #}
        <div class="container bg-white shadow p-4 ps-6">
            <h2 class="mb-4">Demandes <span class="text-info">finalisées</span></h2>
            <div class="container d-flex flex-column flex-xl-row flex-xl-wrap gap-3">
                {# use of display_message variable avoid to display messages x time in loop#}
                {% set display_message = true %}
                {% for requested_donation in requested_donations %}
                    {% if requested_donation.status == "Finalisé" %}
                        <div class="custom-card">
                            {% include "/components/_user_request_card.html.twig" %}
                        </div>
                        {% set display_message = false %}
                    {% endif %}
                {% endfor %}
                {% if display_message == true %}
                    <p>Vous n'avez pas de demandes finalisés</p>
                {% endif %}
            </div>
        </div>
        {# Status annulé #}
        <div class="container bg-white shadow p-4 ps-6">
            <h2 class="mb-4">Demandes <span class="text-primary">annulées</span></h2>
            <div class="container d-flex flex-column flex-xl-row flex-xl-wrap gap-3">
                {# use of display_message variable avoid to display messages x time in loop#}
                {% set display_message = true %}
                {% for requested_donation in requested_donations %}
                    {% if requested_donation.status == "Annulé" %}
                        <div class="custom-card">
                            {% include "/components/_user_request_card.html.twig" %}
                        </div>
                        {% set display_message = false %}
                    {% endif %}
                {% endfor %}
                {% if display_message == true %}
                    <p>Vous n'avez pas de demandes annulées</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}