{% extends 'base.html.twig' %}

{% block title %}Mes graines à donner{% endblock %}

{% block bodyclass %}'dashboard'{% endblock %}

{% block body %}

    <h1 class="pb-3 pt-3 ps-5">Mes lots de graines <span class="text-info">à donner</span></h1>

{% endblock %}