<div class="container card bg-white p-4 shadow ">
    <h2 class="ps-2">Mon <span class ="text-info">profil</span></h2>
    <div class="d-flex flex-column align-items-center p-3">
        <div>
            <p><span class="h3">Pseudo : </span>{{ user.username }}</p>
            <p><span class="h3">Email : </span> {{ user.email }}</p>
        </div>
    </div>
    <div class="container d-flex gap-2 justify-content-center">
      <a href="{{ path('user_account_edit') }}"><button class="btn btn-dark">modifier</button></a>
      {% if app.user %}
        {% if "ROLE_ADMIN" not in app.user.roles %}
          <a href="{{ path('user_account_delete') }}"><button class="btn btn-outline-dark">supprimer</button></a>
        {% endif %}
      {% endif %}
    </div>
  </div>