<h1>Veuillez confirmer votre email</h1>

<p>
    C'est presque fini!
    Il ne vous reste plus qu'à confirmer votre adresse via le lien suivant et vous aurez accès à la plateforme: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expire dans 2 heures.
</p>
<p>
    A bientôt sur Graines en l'air!
</p>
